{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body  %}
    <div>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="background-form" style="display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:6rem auto;
    background-color: white;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);"
              action="{{ path('admin') }}" method="post">
            <h1 style="">Immo<span style="color: #A27F61">Tep</span></h1>
            <label style="margin-bottom: 0.5rem;margin-top: 0.5rem;width: 50%;" for="username">Email </label>
            <input style="width: 50%; margin-bottom: 1.5rem" type="text" id="username" name="_username"/>


            <label style="margin-bottom: 0.5rem;width: 50%;" for="password">Mot de passe </label>
            <input style="width: 50%; margin-bottom: 1.5rem" type="password" id="password" name="_password"/>
            {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account"/>
            #}

            <button style="padding: 0.5rem 3rem;
            margin-top: 1rem;
    background: #A27F61;
    color: white;
    border: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 3rem;
    letter-spacing: 1.5px;" type="submit">Connexion
            </button>
        </form>
    </div>
{% endblock %}
